.application {
  text-align: center;
  h3 {
    @include font(30px, 500);
    line-height: 38px;
    color: #0f172a;
    margin-bottom: 45px;
    text-align: center;
  }

  &-line {
    width: 100%;
    height: 0px;
    angle: 0deg;
    opacity: 10%;
    border-width: 1px;
    border-style: dashed;
    dashes: 6, 6;
  }

  &-wrapper {
	position: relative;
	top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 32px;

    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        margin-bottom: 10px;
      }
      &-cards {
        width: 368px;
        border-radius: 16px;
        border: 1px solid #2a407a33;
        padding: 24px 16px 12px 16px;
        background-color: #2a407a1a;

        i {
          font-size: 34px;
          color: #2a407a;
          padding: 10px;
          border-radius: 8px;
          background-color: #2a407a1a;
          margin-bottom: 16px;
        }
        h5 {
          @include font(20px, 400);
          line-height: 30px;
          color: #1e293b;
          padding: 16px 0px 8px 0px;
        }
        p {
          @include font(18px, 400);
          color: #475569;
          line-height: 28px;
        }
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    button {
      @include font(18px, 400);
      color: #ffffffff;
      line-height: 28px;
      background: linear-gradient(180deg, #0d2460 0%, #2a407a 100%);
      border-radius: 10px;
      padding: 8px 27px;
      display: flex;
      justify-content: center;
    }
  }
}
