.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  &-main {
    width: 497px;
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;
    display: flex;
    gap: 16px;
    flex-direction: column;

    &-image1 {
      background-image: url("../../images/contacts-img-1.svg");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
      padding: 27px 20px;
    }
    &-image2 {
      background-image: url("../../images/contacts-img-2.svg");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
      padding: 27px 20px;
    }
    &-image3 {
      background-image: url("../../images/contacts-img-3.svg");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
      padding: 27px 20px;
    }
    &-image4 {
      background-image: url("../../images/contacts-img-4.svg");
      background-repeat: no-repeat;
      background-position: top 50% left 100%;
      padding: 13px 20px;
    }

    &-card {
      
      background-color: #f8fafc;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        font-size: 37px;
        padding: 15px;
        border-radius: 12px;
        background-color: #2a407a1a;
        color: var(--card700);
      }
      &-link {
        p {
          @include font(18px, 400);
          color: #475569;
          line-height: 28px;
          margin-bottom: 8px;
        }
        h5 {
          @include font(20px, 400);
          line-height: 30px;
          color: #0f172a;
        }
        i {
          padding: 5px;
        }
      }
    }
  }
  &-from {
    width: 1008px;
    padding: 24px;
    background-color: var(--white);
    border-radius: 12px;

    h3 {
      @include font(#0f172a, 30px, 500);
      line-height: 30px;
      margin-bottom: 24px;
    }

    &-line {
      width: 100%;
      height: 1px;
      background-color: #e2e8f0;
      margin-bottom: 24px;
    }

    &-wrapper {
      &-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        margin-bottom: 16px;
      }

      label {
        display: flex;
        flex-direction: column;

        span {
          @include font(#334155, 16px, 400);
          line-height: 20px;
          margin-bottom: 6px;
        }

        input,
        textarea {
          width: 100%;
          border: none;
          outline: none;
          background-color: #f8fafc;
          border-radius: 8px;
          padding: 14px 16px;
          font-size: 14px;
          color: #0f172a;
        }

        input {
          height: 44px;
        }

        textarea {
          min-height: 170px;
          resize: none;
          margin-bottom: 24px;
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 27px;
        width: 180px;
        gap: 8px;
        background: linear-gradient(180deg, #0d2460 0%, #2a407a 100%);
        @include font(18px, 400);
        color: var(--white);
        border-radius: 10px;
        border: 1px solid #ffffff26;
        line-height: 28px;
      }
      &-btn {
        padding: 10px 0px 0px 0px;
      }
    }
  }
}
	