@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9n1gut');
  src:  url('fonts/icomoon.eot?9n1gut#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9n1gut') format('truetype'),
    url('fonts/icomoon.woff?9n1gut') format('woff'),
    url('fonts/icomoon.svg?9n1gut#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-left:before {
  content: "\e900";
}
.i-arrow-low:before {
  content: "\e901";
}
.i-arrow-right:before {
  content: "\e902";
}
.i-arrow-top:before {
  content: "\e903";
}
.i-award:before {
  content: "\e904";
}
.i-book:before {
  content: "\e905";
}
.i-book-edit:before {
  content: "\e906";
}
.i-cake:before {
  content: "\e907";
}
.i-calendar:before {
  content: "\e908";
}
.i-calendar-fiber:before {
  content: "\e909";
}
.i-clock:before {
  content: "\e90a";
}
.i-code:before {
  content: "\e90b";
}
.i-confounded:before {
  content: "\e90c";
}
.i-cup:before {
  content: "\e90d";
}
.i-directbox:before {
  content: "\e90e";
}
.i-document-text:before {
  content: "\e90f";
}
.i-dropdawun:before {
  content: "\e910";
}
.i-expressionless:before {
  content: "\e911";
}
.i-eye:before {
  content: "\e912";
}
.i-facebook:before {
  content: "\e913";
}
.i-funny:before {
  content: "\e914";
}
.i-gallery:before {
  content: "\e915";
}
.i-global:before {
  content: "\e916";
}
.i-global-edit:before {
  content: "\e917";
}
.i-gps:before {
  content: "\e918";
}
.i-home:before {
  content: "\e919";
}
.i-Instagram:before {
  content: "\e91a";
}
.i-like:before {
  content: "\e91b";
}
.i-location:before {
  content: "\e91c";
}
.i-mail:before {
  content: "\e91d";
}
.i-menu:before {
  content: "\e91e";
}
.i-moon:before {
  content: "\e91f";
}
.i-music:before {
  content: "\e920";
}
.i-phone:before {
  content: "\e921";
}
.i-plus:before {
  content: "\e922";
}
.i-profile-tick:before {
  content: "\e923";
}
.i-right:before {
  content: "\e924";
}
.i-sad:before {
  content: "\e925";
}
.i-search:before {
  content: "\e926";
}
.i-search-status:before {
  content: "\e927";
}
.i-send:before {
  content: "\e928";
}
.i-share:before {
  content: "\e929";
}
.i-smile:before {
  content: "\e92a";
}
.i-star:before {
  content: "\e92b";
}
.i-sun:before {
  content: "\e92c";
}
.i-sunset:before {
  content: "\e92d";
}
.i-support:before {
  content: "\e92e";
}
.i-teacher:before {
  content: "\e92f";
}
.i-Telegram:before {
  content: "\e930";
}
.i-youtube:before {
  content: "\e931";
}
