@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lxuiki');
  src:  url('fonts/icomoon.eot?lxuiki#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lxuiki') format('truetype'),
    url('fonts/icomoon.woff?lxuiki') format('woff'),
    url('fonts/icomoon.svg?lxuiki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-right:before {
  content: "\e900";
}
.i-award:before {
  content: "\e901";
}
.i-book:before {
  content: "\e902";
}
.i-book-edit:before {
  content: "\e903";
}
.i-cake:before {
  content: "\e904";
}
.i-calendar:before {
  content: "\e905";
}
.i-calendar-fiber:before {
  content: "\e906";
}
.i-clock:before {
  content: "\e907";
}
.i-code:before {
  content: "\e908";
}
.i-confounded .path1:before {
  content: "\e909";
  color: rgb(41, 45, 50);
}
.i-confounded .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.i-confounded .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-confounded .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-confounded .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-cup:before {
  content: "\e90e";
}
.i-directbox:before {
  content: "\e90f";
}
.i-document-text:before {
  content: "\e910";
}
.i-dropdawun:before {
  content: "\e911";
}
.i-expressionless .path1:before {
  content: "\e912";
  color: rgb(41, 45, 50);
}
.i-expressionless .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.i-expressionless .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-expressionless .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-expressionless .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-eye:before {
  content: "\e917";
}
.i-facebook:before {
  content: "\e918";
}
.i-funny .path1:before {
  content: "\e919";
  color: rgb(41, 45, 50);
}
.i-funny .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.i-funny .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-funny .path4:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-funny .path5:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-funny .path6:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-funny .path7:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-funny .path8:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-gallery:before {
  content: "\e921";
}
.i-global:before {
  content: "\e922";
}
.i-global-edit:before {
  content: "\e923";
}
.i-gps:before {
  content: "\e924";
}
.i-home:before {
  content: "\e925";
}
.i-instagram:before {
  content: "\e926";
}
.i-like:before {
  content: "\e927";
}
.i-location:before {
  content: "\e928";
}
.i-mail:before {
  content: "\e929";
}
.i-moon:before {
  content: "\e92a";
}
.i-music:before {
  content: "\e92b";
}
.i-phone:before {
  content: "\e92c";
}
.i-plus:before {
  content: "\e92d";
}
.i-profile-tick:before {
  content: "\e92e";
}
.i-right:before {
  content: "\e92f";
}
.i-sad .path1:before {
  content: "\e930";
  color: rgb(41, 45, 50);
}
.i-sad .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.i-sad .path3:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-sad .path4:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-sad .path5:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-sad .path6:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-sad .path7:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-search-status:before {
  content: "\e937";
}
.i-send:before {
  content: "\e938";
}
.i-share:before {
  content: "\e939";
}
.i-smile .path1:before {
  content: "\e93a";
  color: rgb(41, 45, 50);
}
.i-smile .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(41, 45, 50);
}
.i-smile .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-smile .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-smile .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.i-star:before {
  content: "\e93f";
}
.i-sun:before {
  content: "\e940";
}
.i-sunset:before {
  content: "\e941";
}
.i-support:before {
  content: "\e942";
}
.i-teacher:before {
  content: "\e943";
}
.i-telegram:before {
  content: "\e944";
}
.i-youtube:before {
  content: "\e945";
}
