<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-wrapper">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__list--item">
                    <a href="#" class="breadcrumbs__link">
                     <i class="i-home"></i> <i class="i-arrow-right"></i>  Biz haqimizda
                    </a>
                </li>

            </ul>
            <h1 class="breadcrumbs__title">
                Biz haqimizda
            </h1>
        </div>
    </div>
</div>