<footer class="footer">
	<div class="footer__container container">
		<div class="footer-main">
			<div class="footer-main-right">
				<div class="footer-main-right-text">
					<a href="@/about.html">Biz haqimizda</a>
					<a href="@/leadership.html">Rahbariyat</a>
					<a href="@/education.html">Ta’lim</a>
					<a href="@/application.html">Qabul</a>
				</div>
				<div class="footer-main-right-line"></div>
				<div class="footer-main-right-link">
					<a href="#"><i class="i-phone"></i><span>+998 (90) 123 45 67</span></a>
					<a href="#"><i class="i-mail"></i><span>info@tashkentpm.org</span></a>
				</div>
			</div>
			<a class="footer-logo" href=""><img src="@/images/logo.svg" alt=""></a>
			<div class="footer-main-left">
				<div class="footer-main-left-text">
					<a href="#">Biz haqimizda</a>
					<a href="#">Rahbariyat</a>
					<a href="#">Ta’lim</a>
					<a href="#">Qabul</a>
				</div>
				<div class="footer-main-left-line"></div>
				<diz`v class="footer-main-left-link">
					<a href="#"><i class="i-location"></i>Durmon Y'oli 32, Тоshkent, Toshkent, Узбекистан</a>
					<div class="footer-main-left-link-icon">
						<i class="i-Instagram"></i>
						<i class="i-youtube"></i>
						<i class="i-facebook"></i>
						<i class="i-Telegram"></i>
					</div>
					</diz>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-bottom-line"></div>
			<div class="footer-bottom-link">
				<p>© 2026 Presidential School in Tashkent</p>
				<p>Developed by: <a href="https://proend.uz/"><img src="@/images/proend.svg" alt=""></a></p>
			</div>
		</div>
	</div>
</footer>
<script src="@/assets/libs/jquery.min.js"></script>
<script src="@/assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
<script src="@/assets/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="@/assets/js/main.js"></script>

<script>
	$(document).ready(function () {
		$(".gallery-section-carousel").owlCarousel({
			loop: true,
			margin: 16,
			autoWidth: true,
			nav: false,
			dots: false,
			autoplay: true,
			autoplayTimeout: 3500,
			autoplayHoverPause: true,
			smartSpeed: 700
		});
	});
</script>



<!-- <script>
	var owl = $('.hero__stats'); 

	owl.owlCarousel({
		items: 3,
		loop: true,
		margin: 16,
		autoplay: true,
		autoplayTimeout: 2000,
		autoplayHoverPause: true,
		responsive: {
			0: {
				items: 1,
				margin: 12
			},
			600: {
				items: 2,
				margin: 16
			},
			1000: {
				items: 3,
				margin: 20
			}
		}
	});

	$('.play').on('click', function () {
		owl.trigger('play.owl.autoplay', [1000])
	})

	$('.stop').on('click', function () {
		owl.trigger('stop.owl.autoplay')
	})
</script> -->