<footer class="footer">
    <div class="footer__container container">
        <div class="footer-main">
            <div class="footer-main-right">
                <div class="footer-main-right-text">
                    <a href="../../about.html">Biz haqimizda</a>
                    <a href="#">Rahbariyat</a>
                    <a href="#">Ta’lim</a>
                    <a href="#">Qabul</a>
                </div>
                <div class="footer-main-right-line"></div>
                <div class="footer-main-right-link">
                    <a href="#"><i class="i-phone"></i>+998 (90) 123 45 67</a>
                    <a href="#"><i class="i-mail"></i>info@tashkentpm.org</a>
                </div>
            </div>
            <a class="footer-logo" href=""><img src="@/images/footer-logo.png" alt=""></a>
            <div class="footer-main-left">
                <div class="footer-main-left-text">
                    <a href="#">Biz haqimizda</a>
                    <a href="#">Rahbariyat</a>
                    <a href="#">Ta’lim</a>
                    <a href="#">Qabul</a>
                </div>
                <div class="footer-main-left-line"></div>
                <diz`v class="footer-main-left-link">
                    <a href="#"><i class="i-location"></i>Durmon Y'oli 32, Тоshkent, Toshkent, Узбекистан</a>
                    <div class="footer-main-left-link-icon">
                        <i class="i-instagram"></i>
                        <i class="i-youtube"></i>
                        <i class="i-facebook"></i>
                        <i class="i-telegram"></i>
                    </div>
                    </diz>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-line"></div>
            <div class="footer-bottom-link">
                <p>© 2026 Presidential School in Tashkent</p>
                <p>Developed by: <img src="../../images/proend.svg" alt=""></p>
            </div>
        </div>

    </div>
</footer>
<script src="@/assets/libs/jquery.min.js"></script>
<script src="@/assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
<script src="@/assets/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="@/assets/js/main.js"></script>

<script>
  $(document).ready(function () {
    $(".gallery-section-carousel").owlCarousel({
      loop: true,
      margin: 16,
      autoWidth: true,
      nav: false,
      dots: false,
      autoplay: true,
      autoplayTimeout: 3500,
      autoplayHoverPause: true,
      smartSpeed: 700
    });
  });
</script>