<header class="header" role="banner">
	<div class="header-top">
		<div class="container">
			<div class="header-top-right">
				<a href="#"><i class="i-phone"></i>+998 (90) 123 45 67</a>
				<a href="#"><i class="i-mail"></i>+998 (90) 123 45 67</a>
			</div>
			<div class="header-top-left">
				<div class="header-top-left-line">
					<a href=""><i class="i-instagram"></i></a>
					<a href=""><i class="i-youtube"></i></a>
					<a href=""><i class="i-facebook"></i></a>
					<a href=""><i class="i-telegram"></i></a> 
				</div>
				<a class="header-top-left-link" href="#">
					<img src="../../images/flag-uz.png" alt="">
					<p>uzb</p>
					<i class="i-dropdawun"></i>
				</a>
			</div>

		</div>
	</div>
	<a class="header-logo" href="/"><img src="@/images/logo.svg" alt=""></a>
	<button class="header__menu-btn " hidden type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu" aria-controls="offcanvasMenu" aria-expanded="false">
            <span class="header__burger" aria-hidden="true">1</span>
        </button>
	<div class="header-text">
		<div class="container">
			<div class="header-text-right">
				<a href="@/about.html">Biz haqimizda</a>
				<a href="@/leadership.html">Rahbariyat</a>
				<a href="@/education.html">Ta’lim</a>
				<a href="@/application.html">Qabul</a>
			</div>
			<div class="header-text-left">
				<a href="#">Bizning faxrimiz</a>
				<a href="@/gallery.html">Galereya</a>
				<a href="@/news.html">Yangliklar</a>
				<a href="@/contacts.html">Bog’lanish</a>
			</div>
		</div>
	</div>
</header>