<section class="about">
	<div class="about-section">
		<div class="container">
			<div class="about-section-text">
				<a href="@/about.html"><i class="i-cake"></i>Biz haqimizda</a>
				<h3>Toshkentdagi Prezident maktabi</h3>
				<p>O‘zbekiston Respublikasi tashabbusi bilan tashkil etilgan mazkur yetakchi ta’lim muassasasi iqtidorli
					va iqtidorli yoshlarni aniqlash, qo‘llab-quvvatlash va kamol toptirishga qaratilgan. Maktabda ta’lim
					zamonaviy pedagogik yondashuvlar, ilg‘or o‘quv dasturlari va yuqori malakali o‘qituvchilar mehnati
					asosida olib borilmoqda.</p>
				<p>Milliy qadriyatlar va jahon akademik standartlarini o‘zida mujassam etgan ta’lim jarayonida
					o‘quvchilarga xalqaro talablar darajasida chuqur va sifatli bilimlar berilmoqda. Muassasa
					bitiruvchilari mustaqil fikrlaydigan, mas’uliyatli, raqobatbardosh, yetakchilik salohiyatiga ega,
					jamiyat va davlat rivojiga munosib hissa qo‘shishga tayyor shaxs sifatida shakllanadi.</p>
				<button class="about-section-text-btn">Batafsil ma'lumot <i class="i-right"></i></button>
			</div>
			<div class="about-section-right">
				<div class="about-section-right-card">
					<div class="about-section-right-card-item about-section-right-card-item--big">
						<img src="@/images/about-img-1.png" alt="Maktab binosi" />
					</div>

					<div class="about-section-right-card-item about-section-right-card-item--banner">
						<img src="@/images/about-img-2.png" alt="Presidential School in Tashkent" />
					</div>
				</div>

				<div class="about-section-right-card">
					<div class="about-section-right-card-item about-section-right-card-item--logo">
						<img src="../../images/about-img-3.svg" alt="Logo" />
					</div>

					<div class="about-section-right-card-item about-section-right-card-item--small">
						<img src="@/images/about-img-4.png" alt="Maktab ko‘rinishi" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>