<section class="education">
	<div class="education-section">
		<div class="container">

			<div class="education-section-main">
				<div class="education-section-main-inner">
					<div class="education-section-text">
						<p><i class="i-teacher"></i>Ta’lim</p>
						<div class="education-section-text-link">
							<h3>Ta'lim dasturi haqida</h3>
							<a href="@/education.html">Barchasi <i class="i-right"></i></a>
						</div>
					</div>

					<div class="education-section-content">
						<div class="education-section-content-card education-section-content-image">
							<i class="i-teacher"></i>
							<h3>5–11-sinflar</h3>
							<p>milliy va xalqaro fanlarni o‘zlashtirish</p>
						</div>

						<div class="education-section-content-card">
							<i class="i-global"></i>
							<h3>Tillar</h3>
							<p>Ingliz tili (EFL), o‘zbek tili, rus tili;</p>
						</div>

						<div class="education-section-content-card">
							<i class="i-book"></i>
							<h3>Gumanitar fanlar</h3>
							<p>O‘zbekiston tarixi, jahon tarixi, zamonaviy yondashuv.</p>
						</div>

						<div class="education-section-content-card">
							<i class="i-award"></i>
							<h3>AS va A darajalar</h3>
							<p>matematika va tanlov fanlari (kimyo, fizika, biologiya va informatika)</p>
						</div>

						<div class="education-section-content-card">
							<i class="i-book-edit"></i>
							<h3>IGCSE fanlari</h3>
							<p>matematika, fizika, kimyo, biologiya va informatika</p>
						</div>
					</div>
				</div>
				<div class="education-section-main-inner">
					<div class="education-section-text">
						<b class="education-section-text-icon"><i class="i-document-text"></i>Qabul</b>
						<div class="education-section-text-link">
							<h3>Qabul jarayoni</h3>
							<a href="@/education.html">Barchasi <i class="i-right"></i></a>
						</div>
					</div>

					<div class="education-section-wrapper">
						<div class="education-section-wrapper-card">
							<i class="i-search-status"></i>
							<div class="education-section-wrapper-card-text">
								<h5>1-qadam: Tanishib chiqish</h5>
								<P>Maktab va dasturlar haqida ma’lumot oling</P>
							</div>
						</div>
						<div class="education-section-wrapper-link"><i class="i-dropdawun"></i></div>
						<div class="education-section-wrapper-card">
							<i class="i-search-status"></i>
							<div class="education-section-wrapper-card-text">
								<h5>1-qadam: Tanishib chiqish</h5>
								<P>Maktab va dasturlar haqida ma’lumot oling</P>
							</div>
						</div>
						<div class="education-section-wrapper-link"><i class="i-dropdawun"></i></div>
						<div class="education-section-wrapper-card">
							<i class="i-search-status"></i>
							<div class="education-section-wrapper-card-text">
								<h5>1-qadam: Tanishib chiqish</h5>
								<P>Maktab va dasturlar haqida ma’lumot oling</P>
							</div>
						</div>
						<div class="education-section-wrapper-link"><i class="i-dropdawun"></i></div>
						<div class="education-section-wrapper-card">
							<i class="i-search-status"></i>
							<div class="education-section-wrapper-card-text">
								<h5>1-qadam: Tanishib chiqish</h5>
								<P>Maktab va dasturlar haqida ma’lumot oling</P>
							</div>
						</div>
						<div class="education-section-wrapper-btn"><button
								class="education-section-wrapper-btn-button">Hoziroq ariza berish</button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>