<section class="gallery-section">
	<div class="container">
		<div class="gallery-section-link">
			<p><i class="i-gallery"></i>Galereya</p>
			<div class="gallery-section-link-text">
				<h3>Bizning jonli maktab hayotimizni o'rganing</h3>
				<a href="@/gallery.html">Barchasi <i class="i-right"></i></a>
			</div>
		</div>
	</div>

	<div class="owl-carousel gallery-section-carousel">

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-4.png" alt="gallery">
			</a>
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-5.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-3.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-4.png" alt="gallery">
			</a>
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-5.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-3.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-4.png" alt="gallery">
			</a>
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-5.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-3.png" alt="gallery">
			</a>
		</div>
		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-4.png" alt="gallery">
			</a>
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-5.png" alt="gallery">
			</a>
		</div>
		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-3.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-4.png" alt="gallery">
			</a>
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-5.png" alt="gallery">
			</a>
		</div>

		<div class="gallery-section-carousel-card">
			<a href="@/gallery.html">
				<img src="@/images/gallery-img-3.png" alt="gallery">
			</a>
		</div>

	</div>
	<!-- <div class="owl-carousel gallery-carousel">
    <div class="gallery-card gallery-card-stack">
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-1.png" alt="Gallery image 1">
      </div>
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-2.png" alt="Gallery image 2">
      </div>
    </div>

    <div class="gallery-card gallery-card--large">
      <div class="gallery-card__image gallery-card__image--large">
        <img src="../../images/gallery-img-3.png" alt="Gallery image 3">
      </div>
    </div>

    <div class="gallery-card gallery-card-stack">
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-4.png" alt="Gallery image 4">
      </div>
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-5.png" alt="Gallery image 5">
      </div>
    </div>

    <div class="gallery-card gallery-card--large">
      <div class="gallery-card__image gallery-card__image--large">
        <img src="../../images/gallery-img-6.png" alt="Gallery image 6">
      </div>
    </div>

    <div class="gallery-card gallery-card-stack">
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-7.png" alt="Gallery image 7">
      </div>
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-8.png" alt="Gallery image 8">
      </div>
    </div>

    <div class="gallery-card gallery-card--large">
      <div class="gallery-card__image gallery-card__image--large">
        <img src="../../images/gallery-img-9.png" alt="Gallery image 9">
      </div>
    </div>

    <div class="gallery-card gallery-card-stack">
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-4.png" alt="Gallery image 4">
      </div>
      <div class="gallery-card__image gallery-card__image--small">
        <img src="../../images/gallery-img-5.png" alt="Gallery image 5">
      </div>
    </div>

    <div class="gallery-card gallery-card--large">
      <div class="gallery-card__image gallery-card__image--large">
        <img src="../../images/gallery-img-6.png" alt="Gallery image 6">
      </div>
    </div>
  </div> -->
</section>