<section class="hero">
  <div class="hero__bg">
    <video class="hero__bg-video" autoplay muted loop playsinline preload="auto">
      <source src="../../images/hero-video.mp4" type="video/mp4" />
      Brauzeringiz video formatini qo‘llab-quvvatlamaydi.
    </video>
  </div>

  <div class="hero__container">
    <div class="hero__placeholder"></div>

    <div class="hero__content">
      <h1>
        Kelajak yetakchilarini <br />
        bugundan tayyorlaymiz
      </h1>

      <p>
        President maktabi — iqtidorli yoshlar uchun zamonaviy bilim, xalqaro
        standartlar va kuchli tarbiya uyg‘unlashgan ta’lim maskani. Biz global
        fikrlaydigan, mas’uliyatli va raqobatbardosh avlodni yetishtiramiz.
      </p>

      <div class="hero__actions">
        <a href="#" class="hero__actions-btn">
          Hozirqo ariza berish
        </a>

        <a href="#" class="hero__actions-btn hero__actions-btn--secondary">
          Batafsil ma'lumot
          <i class="i-right"></i>
        </a>
      </div>
    </div>

    <div class="hero__stats">
      <div class="hero__stats-item">
        <div class="hero__stats-icon">
          <i class="i-global-edit"></i>
        </div>
        <h3>Global nuqtayi nazar</h3>
        <p>"Cambridge" dasturi asosidagi STEM ta’limi</p>
      </div>

      <div class="hero__stats-item">
        <div class="hero__stats-icon">
          <i class="i-book-edit"></i>
        </div>
        <h3>Zamonaviy o‘quv dasturi</h3>
        <p>Global ta’lim va xalqaro akademik standartlar</p>
      </div>

      <div class="hero__stats-item">
        <div class="hero__stats-icon">
          <i class="i-award"></i>
        </div>
        <h3>Malakali o‘qituvchilar</h3>
        <p>Mahalliy va xalqaro yuqori malakali o‘qituvchilar</p>
      </div>
    </div>
  </div>
</section>