<section class="news">
    <div class="news-section">
        <div class="container">
            <div class="news-section-link">
                <div class="news-section-link-text">
                    <a href="#"><i class="i-directbox-notif"></i>Yangliklar</a>
                    <h3>Maktab yangliklari</h3>
                </div>
                <a href="#">Barchasi <i class="i-right"></i></a>
            </div>
            <div class="news-section-main">
                <div class="news-section-main-wrapper">
                    <div class="news-section-main-wrapper-card">
                        <img src="@/images/news-img-1.png" alt="">
                        <div class="news-section-main-wrapper-card-start">
                            <h4>Prezident maktabida yangi STEM laboratoriyasi rasman ochildi</h4>
                            <p>Prezident maktabida o‘quvchilar o‘rtasida amaliy bilim olish va innovatsiyalarni
                                rivojlantirish maqsadida zamonaviy texnologiyalar bilan..</p>
                            <div class="news-section-main-wrapper-card-start-top"></div>
                            <div class="news-section-main-wrapper-card-start-link">
                                <div class="news-section-main-wrapper-card-start-link-text">
                                    <a href="#"><i class="i-calendar-2"></i>27/01/2026</a>
                                    <a href="#"><i class="i-eye"></i>123</a>
                                </div>
                                <a href="#">Ko’rish <i class="i-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="news-section-main-wrapper-card">
                        <img src="@/images/news-img-2.png" alt="">
                        <div class="news-section-main-wrapper-card-start">
                            <h4>Prezident maktabida yangi STEM laboratoriyasi rasman ochildi</h4>
                            <p>Prezident maktabida o‘quvchilar o‘rtasida amaliy bilim olish va innovatsiyalarni
                                rivojlantirish maqsadida zamonaviy texnologiyalar bilan..</p>
                            <div class="news-section-main-wrapper-card-start-top"></div>
                            <div class="news-section-main-wrapper-card-start-link">
                                <div class="news-section-main-wrapper-card-start-link-text">
                                    <a href="#"><i class="i-calendar-2"></i>27/01/2026</a>
                                    <a href="#"><i class="i-eye"></i>123</a>
                                </div>
                                <a href="#">Ko’rish <i class="i-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>